<section class="container" data-ng-controller="HomeController">
	<div class="text-center" style="background:black;height:100vh;padding:50px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<a href="/#!/language"><img alt="BLOCKS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" /></a>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead" style="color:white;padding-top:15px">
				Learn to shortcut. Generate Blocks.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/language" target="_blank" style="color:white;padding-top:20px">Get Started</a>
			</p>
		</div>
	</div>
</section>
