<section data-ng-controller="PythonsController" class="container" data-ng-init="find()">
    <div class="page-header">
        <h1>Pythons</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="python in pythons" data-ng-href="#!/pythons/{{python._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="python.created | date:'medium'"></span>
				by
				<span data-ng-bind="python.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="python.name"></h4>
			<h4 class="list-group-item-heading" data-ng-bind="python.description"></h4>
			<h6 class="list-group-item-heading" data-ng-bind="python.code"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!pythons.$resolved || pythons.length">
    	No Pythons yet, why don't you <a href="/#!/pythons/create">create one</a>?
    </div>
</section>
