<section data-ng-controller="CSSsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="css.name"></h1>
		<h4 data-ng-bind="css.description"></h4>
		<div>
                	<pre class="prettyprint" data-ng-bind="css.code" style="padding:12px">
                	</pre>
                </div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == css.user._id))">
		<a class="btn btn-primary" href="/#!/csss/{{css._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="css.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="css.user.displayName"></span>
		</em>
	</small>
</section>
